---
---

@import "{{ site.theme }}";

header {
    margin: 0 0 20px 0;
    padding: 20px 0 0 0;
}

header h1 {
    margin: 0 !important;
}

header h1::before {
    content: "" !important;
}

li {
    margin: 0 0 5px 0;
    padding: 0 0 0 5px;
}
